html{
	font-family: Helvetica;
}
h1{
	font-weight: bold;
	font-size: 100px;
	color: khaki;
	text-align: center;
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}
h2{
	font-family: Helvetica;
	font-weight: bold;
	font-size: 32px;
	color: white;
}
#br {
	width: 100%;
	background-color: mediumspringgreen;
}
#fr {
	width: 100%;
	background-color: lightcoral;
}
#pa {
	width: 100%;
	background-color: skyblue;
}
.price{
	color: blue;
	font-weight: bold;
}